<chart>
id=132312403457112359
symbol=DE.30..
period=15
leftpos=1900
digits=1
scale=8
graph=1
fore=0
grid=1
volume=0
scroll=1
shift=0
ohlc=1
one_click=0
one_click_btn=1
askline=1
days=0
descriptions=0
shift_size=20
fixed_pos=0
window_left=26
window_top=26
window_right=1093
window_bottom=445
window_type=3
background_color=0
foreground_color=16777215
barup_color=9498256
bardown_color=6333684
bullcandle_color=64636
bearcandle_color=17919
chartline_color=65280
volumes_color=16777184
grid_color=2696223
askline_color=64636
stops_color=17919

<window>
height=119
fixed_height=0
<indicator>
name=main
</indicator>
<indicator>
name=Bollinger Bands
period=20
shift=0
deviations=2.000000
apply=0
color=16760576
style=0
weight=1
period_flags=0
show_data=1
</indicator>
<indicator>
name=Parabolic SAR
step=0.0200
end=0.2000
color=64636
style=0
weight=2
period_flags=0
show_data=1
</indicator>
</window>

<window>
height=31
fixed_height=0
<indicator>
name=Average Directional Movement Index
period=14
apply=0
color=16760576
style=0
weight=2
color2=64636
style2=0
weight2=1
color3=17919
style3=0
weight3=1
levels_color=12632256
levels_style=2
levels_weight=1
level_0=20.00000000
level_1=25.00000000
level_2=50.00000000
period_flags=0
show_data=1
</indicator>
</window>
</chart>

